.home {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;

  .block {
    padding: 4px;
  }
}

.h1 {
  display: block;
  background-color: red;
  text-align: center;
}

.test {
  background-color: #ffffff;
}

.winner{
  color: red;
  background-color: rgb(43, 39, 39);
  padding: 8px;
  font-size: 15px;
  border: none;
  border-radius: 2px;
  margin: 10px;
}